{%- liquid

  assign grid = section.settings.grid
  assign product_limit = section.settings.grid | times: section.settings.rows
  assign sidebr_filters = false

  case section.settings.grid
  when 2
    assign grid_item_width = 'span-6 md-span-6 sm-span-6 auto'
  when 3
    assign grid_item_width = 'span-4 md-span-4 sm-span-6 auto'
  when 4
    assign grid_item_width = 'span-3 md-span-4 sm-span-6 auto'
  endcase

  assign horizontal_filtering_enabled = false
  assign show_sidebar = false

  for block in section.blocks
    case block.type
      when 'dropdown_filter'
        assign horizontal_filtering_enabled = true
      when 'sidebar_filter', 'text_note', 'menu', 'image'
        assign show_sidebar = true
        assign sidebar_grid = 'span-3 md-hide sm-span-12 auto'
    endcase
  endfor


 assign filter_count = 0
 for filter in search.filters
   if filter.type == 'price_range'
     if filter.min_value.value != nil or filter.max_value.value != nil
       assign filter_count = 1
     endif
   endif

   assign filter_count = filter_count | plus: filter.active_values.size
 endfor

 assign terms = search.terms | escape
 assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last'

 assign aos_mod = section.settings.grid | plus: 0

-%}

<div class="main__section"
data-section-id="{{ section.id }}"
data-section-type="search-section"
data-aos="{{ settings.scroll_animation }}">

  {% paginate search.results by product_limit %}
    {% if section.settings.full_width %}
      <div class="gridlock-fluid">
    {% endif %}
      <div id="searchResultsWrapper" class="row">
        <div class="grid__wrapper px0">

          <!-- Title -->
          <div class="section-title span-12 md-span-12 sm-span-12 auto">
            <h1>{{ 'sections.search.title' | t }}</h1>
          </div>

          <!-- Search input -->
          <div id="page" class="span-12 md-span-12 sm-span-12 search-page--form_content">
            <div id="search-bar">
              <form action="{{ routes.search_url }}" method="get">
                <label class="visually-hidden" for="searchbox-{{ section.id }}">{{ 'sections.search.placeholder' | t }}</label>
                <input type="text" name="q" id="searchbox-{{ section.id }}" class="searchbox__input" placeholder="{{ 'sections.search.placeholder' | t }}"/>
                {% if settings.search_show_products_only %}
                  <input type="hidden" name="type" value="product">
                {% endif %}
                <input value="{{ 'sections.search.submit' | t }}" name="submit" id="search_button" class="button" type="submit">
                {% if search.performed and show_filters == false %}
                  {% if search.results_count == 0 %}
                    <p>{{ 'sections.search.no_results_html' | t: terms: search.terms }}</p>
                  {% else %}
                    <p>{{ 'sections.search.results_for_html' | t: terms: search.terms }}</p>
                  {% endif %}
                {% endif %}

              </form>
            </div><!-- /#search-bar -->
          </div><!-- /#page -->

          {% if search.performed %}
            <!-- Main content -->

              <!-- Search filters -->
              {%
                render 'search-filters',
                filter_count: filter_count,
                terms: search.terms,
                show_sidebar: show_sidebar,
                count: search.results_count,
                results_url: results_url,
                horizontal_filtering_enabled: horizontal_filtering_enabled
              %}

            {%- if show_sidebar -%}
              <aside
                class="slideout slideout__drawer-right collection__page--sidebar js-desktop-sidebar {{ sidebar_grid }}" 
                data-collection-sidebar-filters
                data-wau-slideout-content="collection--sidebar"
                data-wau-slideout="collection--sidebar">
                <div class="slideout__trigger--close lg-hide">
                  <button class="slideout__trigger-search-sidebar js-slideout-close" data-slideout-direction="right" aria-label="Close sidebar" tabindex="0" type="button" name="button">
                    <div class="icn-close"></div>
                  </button>
                </div>
                {%
                  render 'search-sidebar',
                  collection: collection,
                  block: sidebar_block,
                  unique_id: 'collection-sidebar-desktop'
                %}
              </aside>
            {%- endif -%}

            <div class="main-content js-collection-content {% if show_sidebar %}span-9{% else %}span-12{% endif %} md-span-12 sm-span-12 auto">

              <!-- Search Results -->
              <div id="main-search-results" class="span-12 md-span-12 sm-span-12 auto" data-id="{{ section.id }}">

              {%- if search.results_count < 1 -%}
                  <span class="rte">{{ 'sections.search.use_fewer_filters_html' | t: link: routes.search_url, class: "underline" }}</span>
              {%- else -%}
                {%- liquid
                  assign has_products = false
                  assign has_articles = false
                  assign has_pages = false

                  for item in search.results
                    if item.object_type == 'product'
                      assign has_products = true
                      continue
                    endif
                    if item.object_type == 'article'
                      assign has_articles = true
                      continue
                    endif
                    if item.object_type == 'page'
                      assign has_pages = true
                      continue
                    endif
                  endfor
                -%}
                {%- if has_pages -%}
                  <div class="section-title span-12 md-span-12 sm-span-12 auto">
                    <h2>
                      {{ 'sections.search.pages' | t }}
                    </h2>
                  </div>
                  <div class="grid_wrapper">
                    {% for item in search.results %}
                      {% if item.object_type == 'page' %}
                        <div class="{{ grid_item_width }}"
                          data-aos="{{ settings.scroll_animation }}"
                          data-aos-delay="{{ forloop.index | minus: 1 | modulo: aos_mod | times: 100 }}">
                          <!--'item' is a page. All page object properties can be accessed. -->
                          <a class="search__page_results--link" href="{{ item.url }}" title="{{ item.title | escape }}">
                            {% if item.content contains "img" %}
                              {%- liquid
                                assign feat_image = item.content | split: 'src="'
                                assign feat_image = feat_image[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:'
                              -%}
                              <div class="search__page_results--img">
                                <img src="{{ feat_image }}" alt="{{ item.title }}" loading="eager" fetchpriority="high">
                              </div>
                            {% endif %}
                            <div class="search__page_results--text">
                              {{ item.title }}
                            </div>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {%- endif -%}
                {%- if has_articles -%}
                  <div class="section-title span-12 md-span-12 sm-span-12 auto">
                    <h2>
                      {{ 'sections.search.articles' | t }}
                    </h2>
                  </div>
                  <div class="grid_wrapper">
                    {% for item in search.results %}
                      {% if item.object_type == 'article' %}
                        <div class="{{ grid_item_width }}"
                          data-aos="{{ settings.scroll_animation }}"
                          data-aos-delay="{{ forloop.index | minus: 1 | modulo: aos_mod | times: 100 }}"
                          data-has-pages-images="{{ has_pages_images }}"
                          >
                          <!--'item' is an article All article object properties can be accessed. -->
                          <a class="search__page_results--link" href="{{ item.url }}" title="{{ item.title | escape }}">
                            {% if item.image %}
                              {% liquid
                                assign loading = 'lazy'
                                assign fetch_priority = 'auto'

                                if section.index == 1 and forloop.index <= section.settings.grid
                                  assign loading = 'eager'
                                  assign fetch_priority = 'high'
                                endif
                                %}
                              <div class="search__page_results--img">
                                {%- render 'basic-responsive-image', type: item.image, width: 800, loading: loading, fetchpriority: fetch_priority  -%}
                              </div>
                            {% endif %}
                            <div class="search__page_results--text">
                              {{ item.title }}
                            </div>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {%- endif -%}
                {%- if has_products -%}
                  <div class="section-title span-12 md-span-12 sm-span-12 auto">
                    <h2>
                      {{ 'sections.search.products' | t }}
                    </h2>
                  </div>
                  <div class="product-loop grid_wrapper {% if section.settings.infinite_scroll %}is_infinite{% endif %}" {% if section.settings.infinite_scroll %}data-collection-infinite-scroll{% endif %}>
                    {% for item in search.results %}
                      {% if item.object_type == 'product' %}
                        <div class="{{ grid_item_width }} product-index"
                          data-alpha="{{ item.title }}"
                          data-price="{{ item.price }}" 
                          data-aos="{{ settings.scroll_animation }}"
                          data-aos-delay="{{ forloop.index | minus: 1 | modulo: aos_mod | times: 100 }}"
                          data-product-id="{{ item.id }}">
                            {% liquid
                            assign loading = 'lazy'
                            assign fetch_priority = 'auto'

                            if section.index == 1 and forloop.index <= section.settings.grid
                              assign loading = 'eager'
                              assign fetch_priority = 'high'
                            endif
                            %}
                          {% render 'product-listing', collection: collection, product: item, loading: loading, fetchpriority: fetch_priority %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {%- endif -%}
              {%- endif -%}
              </div><!-- /#main-search-results-2 -->
              {% render 'pagination', paginate: paginate %}

            </div><!-- /.main-content -->
          {% endif %}
            <!-- /search-performed -->
        </div><!-- /.grid__wrapper -->
      </div><!-- /.row -->
    {% if section.settings.full_width %}
      </div><!-- /.gridlock-fluid -->
    {% endif %}
  {% endpaginate %}
</div><!-- /.main__section -->

{% schema %}
{
  "name": "Search",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 4
    },
    {
      "type": "range",
      "id": "rows",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Rows",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "Infinite scroll products",
      "info": "Pagination will not show, products will continuously load as you scroll down the page"
    },
    {
      "type": "checkbox",
      "id": "is_sticky",
      "label": "Make sidebar sticky",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_by",
      "label": "Show sort by",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "sidebar_filter",
      "name": "Sidebar filter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Learn how to add storefront filters [here](https:\/\/help.shopify.com\/en\/manual\/online-store\/themes\/os20\/customize\/filters)"
        },
        {
          "type":"checkbox",
          "id":"two_column_labels",
          "label":"Two column filter labels",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"scroll_long_lists",
          "label":"Scroll long filter lists",
          "default":true
        },
        {
          "type": "select",
          "id": "filter_color_swatches",
          "options":
          [
            {
              "value": "color_swatch_only",
              "label": "Color swatch only"
            },
            {
              "value": "color_swatch_with_text",
              "label": "Color swatch with text"
            },
            {
              "value": "text_only",
              "label": "Text only"
            }
          ],
          "label": "Color filters",
          "default":"color_swatch_with_text"
        },
        {
          "type":"checkbox",
          "id":"show_filter_count",
          "label":"Show filter count",
          "default":false
        }
      ]
    },
    {
      "type": "dropdown_filter",
      "name": "Dropdown filter",
      "limit": 1,
      "settings": [{
        "type": "paragraph",
        "content": "Dropdown filters will not show if the sidebar filter is present and enabled. Learn how to add storefront filters [here](https:\/\/help.shopify.com\/en\/manual\/online-store\/themes\/os20\/customize\/filters)"
      }]
    },
    {
      "type": "image",
      "name": "Sidebar image",
      "settings":
      [
        {
          "type": "paragraph",
          "content": "For sidebar position on desktop only"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2880px x 1200px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "text_note",
      "name": "Sidebar text",
      "settings":
      [
        {
          "type": "paragraph",
          "content": "For sidebar position on desktop only"
        },
        {
          "type": "text",
          "id": "textbox_heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "textbox_subheading",
          "label": "Subheading",
          "default": "<p>Subheading</p>"
        },
        {
          "type": "select",
          "id": "subheading_align",
          "options":
          [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "label": "Subheading alignment"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Sidebar menu",
      "settings":
      [
        {
          "type": "link_list",
          "id": "side_nav",
          "label": "Menu",
          "info": "This menu has limited support for dropdown items"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title",
          "default": "Explore"
        }
      ]
    }
  ]
}
{% endschema %}
